// ====================================================================================================================================
//                                                              VARIABLES
// ====================================================================================================================================
$green-bleak: #c3e2b9;
$green-light: #76dd53;
$green-primary: #4ac623;
$green-dark: #268008;
$text-color-primary: #1c1c1c;


// ====================================================================================================================================
//                                                              FONTS
// ====================================================================================================================================

// ====================================================================================================================================
//                                                         MIXINS & FUNCTIONS
// ====================================================================================================================================
@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flex;
}

@mixin custom-respond($value) {
  @media(max-width: $value * 1px) {
    @content;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == desktop-xxsm {
    @media (max-width: 379px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xsm {
    @media (max-width: 575px) {
      @content;
    }
  }
  @if $breakpoint == desktop-sm {
    @media (max-width: 769px) {
      @content;
    }
  }
  @if $breakpoint == desktop-md {
    @media (max-width: 991px) {
      @content;
    }
  }
  @if $breakpoint == desktop-lg {
    @media (max-width: 1199px) {
      @content;
    }
  }

  @if $breakpoint == desktop-xl {
    @media (max-width: 1379px) {
      @content;
    }
  }
  @if $breakpoint == desktop-xxl {
    @media (max-width: 1720px) {
      @content;
    }
  }

  @if $breakpoint == desktop-xxxl {
    @media (max-width: 1900px) {
      @content;
    }
  }

  @if $breakpoint == desktop-default {
    @media (min-width: 1440px) {
      @content;
    }
  }
}

@function resize($base, $value) {
  $result: $base * $value;
  @return $result;
}

// ====================================================================================================================================
//                                                              GENERAL
// ====================================================================================================================================

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  
  font-size: 62.5%;   //1rem = 10px 10px/16 62.5%

  @include respond(desktop-xl) {
    font-size: 60%;
  }

  @include respond(desktop-lg) {
    font-size: 57.5%;
  }

  @include respond(desktop-md) {
    font-size: 62.5%;
  }
}

body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar { 
      width: 0 !important;
  }
}

// ====================================================================================================================================
//                                                              UTILITY
// ====================================================================================================================================
.container {
  margin: 0 auto;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  width: 100%;
  max-width: 132.5rem;
}

.btn {
  font-size: 1rem;
  padding: .5em 1.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  text-decoration: none;
  white-space: nowrap;

  &-link {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.31;
    color: #26292c;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &-info {
    padding: .9rem 1.7rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.87;
    letter-spacing: 0.29px;
    color: #2376e5;
    border-radius: 4px;
    border: solid 1px #dadce0;
    background-color: #ffffff;
  }

  &-primary {
    color: #FFF;
    background-color: $green-primary;
    border: solid 2px $green-primary;
    font-weight: 600;

    &-outlined {
      color: $green-primary;
      border: solid 2px $green-primary;
      background-color: transparent;
      font-weight: 600;
    }
  }

  &-secondary {

    &-outlined {
      color: #2678e5;
      border: solid 2px #2678e5;
    }
  }

  &-outlined {
    font-weight: 700;
    color: #26292c;
    border: solid 3px #26292c;
  }
}

.b-b {
  width: 100%;
  border-bottom: 2px solid #F3F3F3;
}

.card-section-divider {
  @include respond(desktop-md) {
    display: none;
  }

  @include respond(desktop-xsm) {
    display: block;
  }
}

// ====================================================================================================================================
//                                                              LAYOUT
// ====================================================================================================================================

// ==================================
// HEADER
// ==================================
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  // border-bottom: 1.5px solid #f1f1f1;
  z-index: 2000;
  transition: all .25s ease-in-out;


  & .nav {
    padding-bottom: .3rem;
    height: 8.4rem;
    display: flex;
    align-items: center;
    

    //TABLET
    @include respond(desktop-md) {
      height: 7rem;
      border-bottom: 1.5px solid #F1F1F1;
    }
   
    &.container {
      @include respond(desktop-xsm) {
        padding-right: 3rem;
      }
    }

    &-brand {
      margin-right: 5%;
      &-img {
        height: 3.7rem;

        @include respond(desktop-md) {
          height: 3.15rem;
        }

        @include respond(desktop-xsm) {
          height: 2.8rem;
        }
      }
    }

    &-list {
      margin-right: auto;
      max-width: 50.2rem;
      width: 100%;
      display: flex;
      align-items: center;
      list-style: none;
      justify-content: space-between;

      &-item {

        &-link {
          font-size: 1.6rem;
          font-weight: 700;
          color: #2e3134;
          text-decoration: none;

          &:hover,
          &:focus {
            //text-decoration: underline;
          }

          &.active {
            position: relative;
            // font-weight: 700;
            // color: #070707;
            &::after {
              content: '';
              display: block;
              position: absolute;
              width: 120%;
              height: 3px;
              background-color: $green-primary;
              bottom: -1.4rem;
              left: 50%;
              transform: translate(-50%, 0);
              
            }
          }
        }

        &:not(:first-of-type) {
          margin-left: 2rem;
        }
      }

      & > * {
        white-space: nowrap;
      }
    }

    &-buttons {
      margin-left: 5%;
      white-space: nowrap;

      @include respond(desktop-md) {
        margin-right: -.5rem;
        margin-left: auto;
      }

      & .btn-link {
        font-weight: 600;
        margin-right:  2.2rem;

        @include respond(desktop-md) {
          font-size: 1.6rem;
          margin-right: 1.6rem;
        }
      }

      & .btn-primary {
        padding: 1.2rem 2.4rem;
        font-size: 1.6rem;

        @include respond(desktop-md) {
          padding: 1.2rem 2.2rem;
        }
      }

      & .btn-outlined {
        padding: 1.25rem 1.8rem;
        font-size: 1.75rem;
      }
    }

    & .nav-menu-toggle {
      margin-left: auto;
      cursor: pointer;

      & svg {
        color: #232324;
        font-size: 2.5rem;
      }
    }

    //MENU
    &-menu {
      height: 100vh;
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      transform: translate(100%, 0);
      transition: all .5s ease-in-out;
      background-color: #FFF;
      z-index: 5000;

      @include respond(desktop-md) {
        display: block;
      }

      & .container {
        @include respond(desktop-xsm) {
          padding-right: 3rem;
        }
      }
      
      &-header {
        // padding: 1.8rem 8rem;
        height: calc(6.9rem + 1.5px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1.5px solid #f1f1f1;

        img {
          height: 2.95rem;
        }

        & .nav-menu-toggle {
          margin-left: auto;
          font-size: 2.5rem;
          color: #232324;
          cursor: pointer;
        }
      }

      &-body {

        &-list {
          list-style: none;

          &-item {
            
            &-link {
              padding-top: 1.8rem;
              padding-bottom: 1.8rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 1.7rem;
              color: #2f2f2f;
              text-decoration: none;

              &.active {
                color: #070707;
              }

              &:hover,
              &:focus {
                background-color: #f1f1f1;
              }
            }
          }
        }
      }

      &-footer {
        padding-top: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .btn {
          width: 49%;
          padding: 1.3rem 1.65rem;
          font-size: 1.8rem;
          @include respond(desktop-xsm) {
            width: 100%;

            &:not(:first-of-type) {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}

// ==================================
// FOOTER
// ==================================
.footer {
  border-top: 1px solid #EAEAEA;
  &-main {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    display: flex;
    align-items: baseline;
    justify-content: center;

    //TABLET
    @include respond(desktop-md) {
      padding-top: 5.7rem;
      padding-bottom: 5.2rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      flex-wrap: wrap;
    }

    &-list {
      width: 100%;
      max-width: 20rem;
      text-align: center;
      list-style: none;

      //MOBILE
      @include respond(desktop-xsm) {
        max-width: 50%;
      }

      &:not(:last-of-type) {
        margin-right: 5.5rem;

        //TABLET
        @include respond(desktop-md) {
          margin-right: 0;
        }
      }

      &:first-of-type {
        //MOBILE
        @include respond(desktop-xsm) {
          margin-bottom: 4.2rem;
        }
      }

      &-item {
        margin-bottom: 1.5rem;

        //TABLET
        @include respond(desktop-md) {
          margin-bottom: 1.9rem;
        }

        &-title {
          margin-bottom: .4rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.63;
          letter-spacing: 0.16px;
          color: #313131;

          //TABLET
          @include respond(desktop-md) {
            margin-bottom: 0;
            font-size: 1.3rem;
          }
        }

        &-link {
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.73;
          letter-spacing: 0.15px;
          color: #8b8b8b;
          text-decoration: none;

          &:hover,
          &:focus {
            text-decoration: underline;
          }

          //TABLET
          @include respond(desktop-md) {
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  &-mid {
    padding: 2.5rem 0;
    background-color: #f5f5f5;

    //TABLET
    @include respond(desktop-md) {
      padding: 2.1rem 0;
    }

    & .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      //TABLET
      @include respond(desktop-md) {
        justify-content: center;
      }
    }

    &-links {

      &-link {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.47;
        letter-spacing: 0.15px;
        color: #454545;
        text-decoration: none;

        //TABLET
        @include respond(desktop-md) {
          font-size: 1.2rem;
          letter-spacing: 0.12px;
        }

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        &:not(:last-of-type) {
          margin-right: 3rem;
        }
      }
    }

    &-lng {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.47;
      letter-spacing: 0.15px;
      color: #454545;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      & span {
        font-weight: 700;
      }

      //TABLET
      @include respond(desktop-md) {
        display: none;
      }
    }
  }

  &-copy {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    background-color: #ebeaeb;

    &-text {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.76;
      letter-spacing: 0.13px;
      color: #454545;

      //TABLET
      @include respond(desktop-md) {
        font-size: 1.05rem;
        text-align: center;
      }
    }
  }
}

// ====================================================================================================================================
//                                                              PAGE STYLES
// ====================================================================================================================================
.main-overview.main {
  padding-top: 8.4rem;
}

.main-features.main {
  padding-top: 8.4rem;

  @include respond(desktop-md) {
    padding-top: 7rem;
  }
}


//=====================================
// HERO SECTION
//=====================================
.main-overview .section-hero {
  padding-top: 9rem;
  padding-bottom: 7.4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  

  //TABLET
  @include respond(desktop-md) {
    padding-top: 7rem;
    padding-bottom: 5.2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    flex-direction: column;
    padding-top: 5.5rem;
    padding-bottom: 3.5rem;
  }

  &-main {
    //min-width: 50rem;
    margin-right: 2rem;

    //TABLET
    @include respond(desktop-md) {
      margin-right: 0;
      min-width: 0;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      width: 100%;
      max-width: 100%;
    }

    &-subtitle {
      margin-bottom: .6rem;
      font-size: 2.1rem;
      font-weight: 700;
      line-height: 1.57;
      color: #222426;
    }

    &-title {
      margin-bottom: 3.2rem;
      max-width: 57rem;
      min-width: 57rem;
      font-size: 4.2rem;
      font-weight: 700;
      line-height: 1.38;
      color: #141414;

      //TABLET
      @include respond(desktop-md) {
        margin-bottom: 2.8rem;
        max-width: 100%;
        min-width: 0;
        font-size: 3.6rem;
        line-height: 1.33;
        letter-spacing: -0.36px;
        color: #202124;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        max-width: 30rem;
        max-width: 100%;
        font-size: 2.9rem;
        line-height: 1.21;
        letter-spacing: normal;
        color: #1c1c1c;
      }
    }

    &-text {
      margin-bottom: 3rem;
      max-width: 40rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.56;
      color: #000000;

      //TABLET
      @include respond(desktop-md) {
        margin-bottom: 2.7rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 48rem;
        font-size: 1.7rem;
        line-height: 1.53;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        margin-bottom: 1.6rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 32.6rem;
        max-width: 90%;
        font-size: 1.5rem;
        line-height: 1.47;
        letter-spacing: 0.15px;
      }
    }

    &-buttons {
      margin-bottom: 2.7rem;

      //TABLET
      @include respond(desktop-md) {
        margin-bottom: 2.3rem;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        margin-bottom: 1.3rem;
      }

      & .btn {
        padding: 1.7rem 3.9rem;
        font-size: 1.85rem;

        //TABLET
        @include respond(desktop-md) {
          padding: 1.4rem 3.4rem;
          font-size: 1.6rem;
        }
      }

      & .btn-primary {
        margin-right: 1.6rem;

        //MOBILE
        @include respond(desktop-xsm) {
          // margin-left: auto;
          margin-right: 0;
          width: 90%;
          padding: 1.15rem 3.4rem;
          font-size: 1.6rem;
        }
      }
    }

    &-info {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.87;
      color: #414448;

      //TABLET
      @include respond(desktop-md) {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 2.15;
      }
    }
  }

  &-img {
    width: 100%;
    min-width: 0;
    max-width: 58.1rem;

    //TABLET
    @include respond(desktop-md) {
      display: none;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-bottom: 3rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 28.9rem;
      max-width: 78%;

      order: -1;
      display: block;
    }
  }
}

//=====================================
// VIDEO SECTION
//=====================================
.section-video {
  padding-top: 6rem;
  padding-bottom: 6.4rem;
  text-align: center;

  //TABLET
  @include respond(desktop-md) {
    padding-top: 5.5rem;
    padding-bottom: 1.8rem;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    display: none;
  }

  &-title {
    margin-bottom: 1.7rem;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.64;
    color: #1c1c1c;

    //TABLET
    @include respond(desktop-md) {
      margin-bottom: 1rem;
      font-size: 3.1rem;
      line-height: 1.42;
    }
  }

  &-text {
    margin-bottom: 3.6rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.44;
    color: #1c1c1c;

    //TABLET
    @include respond(desktop-md) {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 2.83rem;
      max-width: 44.4rem;
      font-size: 1.6rem;
      line-height: 1.63;
      color: #000000;
    }
  }

  &-img {
    width: 100%;
    min-width: 0;
    max-width: 100rem;

    //TABLET
    @include respond(desktop-md) {
      max-width: 68rem;
    }
  }
}


//=====================================
// TABLE OF CONTENT
//=====================================
//OVERVIEW
.main-overview .table-of-content-wrapper {
  max-width: 100vw;
  padding-top: 2rem;
  position: sticky;
  top: 0;
  // z-index: 3000;
  transition: all .25s ease-in-out;
  background: linear-gradient(0deg, transparent, #FFF 80%);
}
.main-overview .table-of-content {
  // top: 0;
  // left: 0;
  // position: relative;
  transform: translate(0, 0);
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 114.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(173, 173, 173, 0.16);
  border: solid 1px #f2f2f2;
  background-color: #ffffff;

  &-link {
    width: 100%;
    max-width: 23rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 3.63;
    color: #2e3134;
    text-decoration: none;
    white-space: nowrap;

    @include respond(desktop-lg) {
      font-size: 1.55rem;
      max-width: 20.3rem;
    }

    @include respond(desktop-md) {
      font-size: 1.5rem;
      max-width: 17rem;
    }

    @include custom-respond(900) {
      height: 4rem;
      font-size: 1.4rem;
      max-width: 15.2rem;
    }

    @include respond(desktop-sm) {
      font-size: 1.3rem;
    }

    @include custom-respond(450) {
      & span {
        display: none;
      }
    }

    &:nth-of-type(4) {
      @include custom-respond(630) {
        display: none;
      }
    }

    &:not(:last-of-type) {
      padding: 0 .6rem;
    }
    
    &.active {
      color: #4ac623;
      font-weight: 600;
      border-radius: 6px;
      background-color: rgba(74, 198, 35, 0.1);
    }
  }

  & .btn {
    height: 4.8rem;
    padding: 1.35rem 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.16px;

    @include respond(desktop-lg) {
      font-size: 1.55rem;
    }

    @include respond(desktop-md) {
      font-size: 1.5rem;
      padding: 1.35rem 1.85rem;
    }

    @include custom-respond(900) {
      height: 4rem;
      font-size: 1.4rem;
      padding: 1.35rem 1.5rem;
    }

    @include respond(desktop-sm) {
      display: none;
    }
  }
}

//FEATURES
.main-features .table-of-content-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #FFF;
  border-bottom: 1.5px solid #EFF0F3;
  transition: all .3s ease-in-out;
  overflow-x: auto;
  overflow-y: hidden;
//   scrollbar-width: none;
//   -ms-overflow-style: none;

//   &::-webkit-scrollbar { 
//     height: 0!important;
//     width: 0 !important;
// }

  &.move {
    width: 100%;
    position: fixed;
    top: -9rem;

    & .table-of-content-item-icon {
      margin-bottom: 2.2rem;
      opacity: 0;
    }

    &:hover {
      top: 0;
    }

    &:hover .table-of-content-item-icon {
      margin-bottom: 1.8rem;
      opacity: 1;
    }

    & .table-of-content-item-link {
      margin-bottom: 2.2rem;
    }
  }
}
.main-features .table-of-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  transition: all .3s ease-in-out;


  

  &-item {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;

    @include respond(desktop-md) {
      width: 100%;
      min-width: 14rem;
    }

    // &:hover a,
    // &:focus a {
    //   text-decoration: underline;
    // }

    &:hover .table-of-content-item-icon,
    &:focus .table-of-content-item-icon {
      transform: translate(0, -15px);
    }

    &-icon {
      margin-top: 2.2rem;
      margin-bottom: 1.8rem;
      width: 6.8rem;
      height: 6.8rem;
      opacity: 1;
      border-radius: 1.4rem;
      transform: translate(0,0);
      transition: all .3s ease-in-out;
    }

    &-link {
      margin-bottom: 1.8rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: #000000;
      text-decoration: none;
      white-space: nowrap;

      @include respond(desktop-md) {
        font-size: 1.35rem;
      }

      @include respond(desktop-xsm) {
        font-size: 1.25rem;
      }
    }
  }
}

//=====================================
// SECTION INFO CARD
//=====================================
.section-info {
  
  &-card {
    padding-top: 7.6rem;
    padding-bottom: 7.6rem;
    display: flex;
    align-items: center;
    justify-content: center;

    //TABLET
    @include respond(desktop-md) {
      padding-top: 4.5rem;
      padding-bottom: 4.5rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      flex-direction: column;
      text-align: center;
    }

    &-img {
      width: 100%;
      min-width: 0;
      max-width: 33rem;

      //TABLET
      @include respond(desktop-md) {
        max-width: 25rem;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        margin-bottom: 4rem;
        max-width: 52.3%;
      }
    }

    &-main {
      margin-left: 8rem;
      max-width: 54.6rem;

      //TABLET
      @include respond(desktop-md) {
        margin-left: 4rem;
        max-width: 30rem;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        margin-left: 0;
        max-width: 100%;
      }
      
      &-title {
        margin-bottom: 2.5rem;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.45;
        color: #1c1c1c;

        //TABLET
        @include respond(desktop-md) {
          margin-bottom: 2.8rem;
          font-size: 2.6rem;
          line-height: 1.31;
        }

        //MOBILE
        @include respond(desktop-xsm) {
          margin-bottom: 1.8rem;
          font-size: 1.9rem;
          line-height: 1.58;
          color: #000000;
        }
      }

      &-text {
        margin-bottom: 3.5rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.67;
        color: #1c1c1c;

        //TABLET
        @include respond(desktop-md) {
          margin-bottom: 3.6rem;
          font-size: 1.5rem;
          line-height: 1.53;
        }

        //MOBILE
        @include respond(desktop-xsm) {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 1.8rem;
          max-width: 81.1%;
          font-size: 1.4rem;
          line-height: 1.57;
        }
      }

      &-buttons {
        white-space: nowrap;

        & .btn {
          padding: .85rem 1.9rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.75;

          //TABLET
          @include respond(desktop-md) {
            padding: .75rem 1.2rem;
            font-size: 1.3rem;
            line-height: 1.58;
          }

          &:first-of-type {
            margin-right: 1.1rem;
          }
        }
      }
    }

    &.reversed {
      margin-right: 6.4rem;
      flex-direction: row-reverse;

      //TABLET
      @include respond(desktop-md) {
        margin-right: 0;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        flex-direction: column;
      }

      .section-info-card-main {
        margin-left: 0;
        margin-right: 8rem;


        //MOBILE
        @include respond(desktop-md) {
          margin-right: 4rem;
        }

        //MOBILE
        @include respond(desktop-xsm) {
          margin-right: 0;
        }
      }
    }

    &.card-01 {
      padding-top: 8rem;
    }
  }
}

//=====================================
// DASBOARD SECTION
//=====================================
.main-overview .section-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5.8rem;
  padding-bottom: 8.8rem;
  text-align: center;

  //TABLET
  @include respond(desktop-md) {
    padding-top: 4rem;
    padding-bottom: 7rem;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    padding-top: 3.5rem;
    padding-bottom: 4.37rem;
  }

  &-img {
    margin-bottom: 6.4rem;
    width: 100%;
    min-width: 0;
    max-width: 90rem;

    //TABLET
    @include respond(desktop-md) {
      margin-bottom: 0;
      margin-top: 2.8rem;
      order: 2;
      max-width: 64.4rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-bottom: 4rem;
      margin-top: 0;
      order: 0;
      max-width: 99%;
    }
  }

  &-main {

    &-title {
      margin-bottom: 3.3rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 50.5rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.45;
      color: #1c1c1c;

      //TABLET
      @include respond(desktop-md) {
        margin-bottom: 1.4rem;
        font-size: 2.9rem;
        line-height: 1.31;
        max-width: 37rem;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        margin-bottom: 1.8rem;
        font-size: 1.9rem;
        line-height: 1.58;
        color: #000000;
      }
    }

    &-text {
      margin-bottom: 4.1rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 66.2rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.67;
      color: #1c1c1c;

      //TABLET
      @include respond(desktop-md) {
        max-width: 52rem;
        margin-bottom: 2.6rem;
        font-size: 1.4rem;
        line-height: 1.71;
      }

      //MOBILE
      @include respond(desktop-xsm) {
        max-width: 81.1%;
        line-height: 1.58;
      }
    }

    &-buttons {

      & .btn {
        padding: 1.4rem 2.1rem;
        font-size: 1.6rem;

        //TABLET
        @include respond(desktop-md) {
          padding: 1rem 1.6rem;
          font-size: 1.3rem;
        }

        &-primary {
          margin-right: 2.5rem;

          //TABLET
          @include respond(desktop-md) {
            margin-right: 1.4rem;
          }
        }
      }
    }
  }
}

//=====================================
// BANNER SECTION
//=====================================
.section-banner {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;

  //TABLET
  @include respond(desktop-md) {
    padding-top: 6.6rem;
    padding-bottom: 6.9rem;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    display: none;
  }

  &.green {
    background-color: $green-primary;
    color: #FFF;
  }

  &-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &-content {

      &-link {
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;

        //TABLET
        @include respond(desktop-md) {
          font-size: 2.2rem;
        }

        & a {
          color: #FFF;
          font-weight: 700;
          text-decoration: underline;
        }
      }

      &.left {
        max-width: 41.4rem;

        //TABLET
        @include respond(desktop-md) {
          max-width: 25.3rem;
        }
      }

      &.right {
        max-width: 32.6rem;

        //TABLET
        @include respond(desktop-md) {
          max-width: 18.1rem;
        }
      }
    }
  }
}

//=====================================
// BANNER MOBILE SECTION
//=====================================
.section-banner-mobile {
  display: none;
  padding-top: 5.5rem;
  padding-bottom: 5rem;
  border-top: 1.5px solid #F2F0F2;
  border-bottom: 1.5px solid #F2F0F2;
  text-align: center;
  background-color: #FCFCFC;

  @include respond(desktop-xsm) {
    display: block;
  }

  &-main {

    &-img {
      margin-bottom: 1.4rem;
      max-width: 4.8rem;
    }

    &-title {
      margin-bottom: 1.7rem;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.36;
      color: #1c1c1c;
    }

    &-text {
      margin-bottom: 3.1rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 30.8rem;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.57;
      color: #2f2f2f;
    }

    & .btn {
      padding: .9rem 1.9rem;
      font-weight: 500;
      font-size: 1.6rem;
    }
  }
}

//=========================================================================================================================================
//                                                           FEATURES PAGE
//=========================================================================================================================================
//=====================================
// FEATURE HERO SECTION
//=====================================
.main-features .section-hero {
  padding-top: 10.6rem;
  padding-bottom: 9rem;
  background-color: $green-primary;
  color: #ffffff;
  text-align: center;

  //TABLET
  @include respond(desktop-md) {
    padding-top: 9.5rem;
    padding-bottom: 8rem;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &-subtitle {
    margin-bottom: 1.5rem;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.53;
  }

  &-title {
    margin-bottom: 3rem;
    font-size: 4.9rem;
    font-weight: 600;
    line-height: 1.02;

    & span {
      display: none;

      //TABLET
      @include respond(desktop-xsm) {
        display: inline;
      }
    }

    //TABLET
    @include respond(desktop-md) {
      font-size: 4.4rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      font-size: 3.5rem;
      line-height: 1.31;
      letter-spacing: -0.88px;
    }
  }

  &-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    max-width: 77rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;

    //TABLET
    @include respond(desktop-md) {
      font-size: 1.8rem;
      max-width: 69.2rem;
    }
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    color: #ffffff;

    //TABLET
    @include respond(desktop-md) {
      font-size: 1.5rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-left: auto;
      margin-right: auto;
      display: block;
      max-width: 100%;
      font-size: 1.5rem;
      line-height: 1.6;

      & a {
        color: inherit;
        font-weight: 600;
      }
    }

    &-icon {
      margin-right: 1.3rem;
      font-size: 3rem;

      //TABLET
      @include respond(desktop-md) {
        font-size: 2.6rem;
      }
    }
  }
}
//=====================================
// FEATURE DOUBLE CARD SECTION
//=====================================
.section-feature-double {
  padding-top: 8.4rem;
  padding-bottom: 8.4rem;
  text-align: center;

  //TABLET
  @include respond(desktop-md) {
    padding-top: 8rem;
    padding-bottom: 4.5rem;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    padding-top: 5rem;
    padding-bottom: 4.5rem;
  }
  
  &-subtitle {
    // margin-bottom: 1.8rem;
    // font-size: 2.3rem;
    // font-weight: 600;
    // line-height: 1.26;
    // color: #080808;

    // //TABLET
    // @include respond(desktop-md) {
    //   margin-bottom: 1.3rem;
    //   font-size: 2rem;
    //   line-height: 1.45;
    // }
  }

  &-title {
    // margin-bottom: 3.3rem;
    // font-size: 5.1rem;
    // font-weight: 700;
    // line-height: 1.29;
    // letter-spacing: -1.28px;
    // color: #000000;

    // //TABLET
    // @include respond(desktop-md) {
    //   margin-bottom: 2.4rem;
    //   margin-left: auto;
    //   margin-right: auto;
    //   max-width: 43.6rem;
    //   font-size: 4.6rem;
    //   line-height: 1.26;
    //   letter-spacing: -1.15px;
    // }
  }

  &-text {
    margin-right: auto;
    margin-left: auto;
    max-width: 75rem;
    // margin-bottom: 7.5rem;
    // font-size: 1.9rem;
    // font-weight: 500;
    // line-height: 1.53;
    // color: #5f5f5f;

    //TABLET
    @include respond(desktop-md) {
      // max-width: 38.8rem!important;
    }
  }

  &-body {
    display: flex;
    align-items: center;
    justify-content: center;

    //TABLET 
    @include respond(desktop-md) {
      flex-direction: column;
    }

    &-card {

      //TABLET 
      @include respond(desktop-md) {
        padding-top: 3rem;
        padding-left: 0;
        padding-right: 0;
      }

      // //MOBILE 
      // @include respond(desktop-xsm) {
        
      // }

      &-img {
        margin-bottom: 4rem;
        width: 100%;
        min-width: 0;
        max-width: 28.4rem;

        //MOBILE
        @include respond(desktop-xsm) {
          margin-bottom: 3rem;
          max-width: 19.3rem;
        }
      }

      &-main {

        &-title {
          // margin-bottom: 1.6rem;
          // font-size: 2.6rem;
          // font-weight: 600;
          // line-height: 1;
          // color: #000000;
        }

        &-text {
          max-width: 44rem;
          // max-width: 39.4rem;
          // font-size: 1.6rem;
          // font-weight: 400;
          // line-height: 1.56;
          // letter-spacing: 0.16px;
          // color: #2c2c2c;
        }
      }

      &.card-01 {
        padding-right: 10rem;
        border-right: 1.5px solid #f1f1f1;

        //TABLET 
        @include respond(desktop-md) {
          margin-bottom: 6rem;
          padding-right: 0;
          border-right: 0;
        }

        //MOBILE
        @include respond(desktop-xsm) {
          margin-bottom: 4.5rem;
        }
      }

      &.card-02 {
        padding-left: 10rem;

        //TABLET 
        @include respond(desktop-md) {
          padding-left: 0;
        }
      }
    }
  }
}

//=====================================
// FEATURE SINGLE CARD SECTION
//=====================================
.section-feature-single {
  padding-bottom: 11.7rem;
  text-align: center;

  //TABLET
  @include respond(desktop-md) {
    padding-bottom: 6rem;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    padding-bottom: 4.5rem;
  }

  &-img {
    margin-bottom: 4rem;
    width: 100%;
    min-width: 0;
    max-width: 84rem;

    //TABLET
    @include respond(desktop-md) {
      max-width: 67rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      margin-bottom: 3.5rem;
    }
  }

  &-main {

    &-title {
      margin-bottom: 1.8rem;
      font-size: 2.7rem;
      font-weight: 600;
      line-height: 1;
      color: #000000;

      //TABLET
      @include respond(desktop-md) {
        font-size: 2.6rem;
      }
    }

    &-text {
      margin-left: auto;
      margin-right: auto;
      max-width: 65rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.56;
      letter-spacing: 0.16px;
      color: #2c2c2c;

      //TABLET
      @include respond(desktop-md) {
        max-width: 55rem;
      }
    }
  }
}

//=====================================
// FEATURE DEVELOPING TEAMS SECTION
//=====================================
.section-feature-teams {
  padding-top: 10rem;
  padding-bottom: 9.6rem;
  text-align: center;

  //TABLET
  @include respond(desktop-md) {
    padding-bottom: 0;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &-subtitle {
    // margin-bottom: 1.8rem;
    // font-size: 2.3rem;
    // font-weight: 600;
    // line-height: 1.26;
    // color: #080808;
  }

  &-title {
    // margin-bottom: 3.1rem;
    // font-size: 5.1rem;
    // font-weight: 700;
    // line-height: 1.29;
    // letter-spacing: -1.28px;
    // color: #000000;
  }

  &-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
    // margin-bottom: 8.2rem;
    // font-size: 2rem;
    // font-weight: 400;
    // line-height: 1.45;
    // color: #5f5f5f;
  }

  &-img {
    margin-bottom: 10.5rem;
    width: 100%;
    min-width: 0;
    max-width: 107.7rem;

    //TABLET
    @include respond(desktop-md) {
      margin-bottom: 0;
      max-width: 67.9rem;
    }

    //MOBILE
    @include respond(desktop-xsm) {
      padding-top: 3.5rem;
    }
  }

  &-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0 7rem;

    //TABLET
    @include respond(desktop-md) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }

    &-card {
      text-align: left;

      //TABLET
      @include respond(desktop-md) {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 55rem;
        padding-top: 4rem;
        padding-bottom: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:not(:last-of-type) {
          border-bottom: solid 2px #eaeaea;
        }
      }

      //MOBILE
      @include respond(desktop-xsm) {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
      }

      &-title {
        // margin-bottom: 2.1rem;
        font-size: 2.7rem!important;
        // font-weight: 600;
        // line-height: 2;
        // color: #000000;
      }

      &-text {
        // max-width: 39.4rem;
        // font-size: 1.6rem;
        // font-weight: 400;
        // line-height: 1.63;
        // letter-spacing: 0.16px;
        // color: #2c2c2c;
      }
    }
  }
}

//=====================================
// FEATURES DASHBOARD SECTION
//=====================================
.main-features .section-dashboard {
  margin-top: 10rem;
  margin-bottom: 12.7rem;
  text-align: center;

  //TABLET 
  @include respond(desktop-md) {
    margin-top: 0;
    margin-bottom: 6rem;
  }

  &-subtitle {}
  
  &-title {
    margin-left: auto;
    margin-right: auto;
  }

  &-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 53rem;
  }

  &-main {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    //TABLET 
    @include respond(desktop-md) {
      flex-direction: column;
      align-items: center;
    }

    &-body {

      &-img {
        width: 100%;
        min-width: 0;
        max-width: 95rem;

        //TABLET 
        @include respond(desktop-md) {
          max-width: 66.4rem;
        }
      }

      &-list {
        margin-left: 4rem;
        list-style: none;
        width: 100%;
        max-width: 25rem;

        //TABLET 
        @include respond(desktop-md) {
          margin-top: 3rem;
          margin-left: 0;
          max-width: 66.4rem;
          display: flex;
          justify-content: space-between;
        }

        &-item {
          width: 100%;

          &:not(:last-of-type) {
            margin-bottom: 1.2rem;

            //TABLET 
            @include respond(desktop-md) {
              margin-bottom: 0;
              margin-right: 1.2rem;
            }
          }

          &-link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 1.8rem 0;
            width: 100%;
            max-width: 100%;
            font-size: 1.8rem;
            font-weight: 600;
            letter-spacing: 0.27px;
            color: $green-primary;
            text-decoration: none;
            border-radius: 8px;
            border: solid 2.3px #46bf20;
            white-space: nowrap;

            @include respond(desktop-md) {
              max-width: 15.6rem;
              padding: 1.2rem 0;
              font-size: 1.5rem;
              font-weight: 500;
              letter-spacing: 0.23px;
            }

            &.active,
            &:hover,
            &:focus {
              background-color: $green-primary;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

//=====================================
// FEATURES PDF SECTION
//=====================================
.section-pdf {
  margin-top: 10rem;
  text-align: center;

  &-title.f-b-title {
    //TABLET
    @include respond(desktop-md) {
      max-width: 50rem;
    }
    //MOBILE
    @include respond(desktop-xsm) {
      max-width: 33.2rem;
    }
  }

  &-card {
    margin-bottom: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    //TABLET
    @include respond(desktop-md) {
      flex-direction: column;
    }

    &-img {
      width: 100%;
      min-width: 0;
      width: 56.5rem;

      //TABLET
      @include respond(desktop-md) {
        margin-bottom: 4rem;
        max-width: 41.8rem;
      }
    }

    &-main {
      margin-left: 7rem;
      text-align: left;
      max-width: 48.6rem;

      //TABLET
      @include respond(desktop-md) {
        margin-left: 0;
        text-align: center;
      }

      &-title {

      }
    }

    &.card-02 {
      margin-top: 7.5rem;
      flex-direction: row-reverse;

      //TABLET
      @include respond(desktop-md) {
        flex-direction: column;
      }

      & .section-pdf-card-main {
        margin-left: 0;
        margin-right: 7rem;

        //TABLET
        @include respond(desktop-md) {
          margin-right: 0;
        }
      }
    }
  }
}


//FEATURES MODIFIER CLASSES
//-----------------------------
.f-b-subtitle {
  margin-bottom: 1.8rem;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.26;
  color: #080808;

  //TABLET
  @include respond(desktop-md) {
    margin-bottom: 1.3rem;
    font-size: 2rem;
    line-height: 1.45;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    margin-bottom: 1.5rem;
    font-size: 1.9rem;
    line-height: 1.53;
  }
}
.f-b-title {
  margin-bottom: 3.3rem;
  font-size: 5.1rem;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -1.28px;
  color: #000000;

  //TABLET
  @include respond(desktop-md) {
    margin-bottom: 2.4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 43.6rem;
    font-size: 4.6rem;
    line-height: 1.26;
    letter-spacing: -1.15px;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    margin-bottom: 2rem;
    max-width: 33.2rem;
    font-size: 3.5rem;
    line-height: 1.31;
    letter-spacing: -0.88px;
  }
}
.f-b-text {
  margin-bottom: 7.5rem;
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.53;
  color: #5f5f5f;

  //TABLET
  @include respond(desktop-md) {
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    margin-bottom: 4.5rem;
    max-width: 27rem;
    max-width: 44rem;
    font-size: 1.5rem;
    line-height: 1.47;
  }
}
.f-s-title {
  margin-bottom: 1.6rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1;
  color: #000000;

  //MOBILE
  @include respond(desktop-xsm) {
    margin-bottom: 1.6rem;
    font-size: 2.2rem;
    line-height: 1.36;
    color: #000000;
  }
}
.f-s-text {
  //max-width: 39.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.16px;
  color: #2c2c2c;

  @include respond(desktop-md) {
    max-width: 44rem;
  }

  //MOBILE
  @include respond(desktop-xsm) {
    font-size: 1.4rem;
    color: #1c1c1c;
  }
}

//=========================================================================================================================================
//                                                           ADDITIONAL CLASSES
//=========================================================================================================================================

.activate-toc {
  margin-bottom: 1.8rem;

  @include respond(desktop-md) {
    margin-bottom: 0;
    visibility: hidden;
    opacity: 0;
  }
}

.main-overview .activate-toc {
  margin-bottom: 0;
}

.header-scroll {
  box-shadow: 0 4px 8px 0 rgba($color: #A3A3A3, $alpha: .16);
}

// .table-of-content-scroll {
//   top: 2rem;
//   left: 50%;
//   position: fixed;
//   transform: translate(-50%, 0);
// }

.menu-open {
  transform: translate(0,0)!important;
}


.show-inline {
  display: inline;
}

.show-block {
  display: block;
}

.show-xxsm-block {
  display: none!important;

  @include respond(desktop-xxsm) {
    display: block!important;
  }
}

.show-xsm-block {
  display: none!important;

  @include respond(desktop-xsm) {
    display: block!important;
  }
}

.show-sm-block {
  display: none!important;

  @include respond(desktop-sm) {
    display: block!important;
  }
}

.show-md-block {
  display: none!important;

  @include respond(desktop-md) {
    display: block!important;
  }
}

.show-lg-block {
  display: none!important;

  @include respond(desktop-lg) {
    display: block!important;
  }
}

.show-xl-block {
  display: none!important;

  @include respond(desktop-xl) {
    display: block!important;
  }
}

.show-xxl-block {
  display: none!important;

  @include respond(desktop-xxl) {
    display: block!important;
  }
}

.show-inline-block {
  display: inline-block!important;
}

.show-xxsm-inline-block {
  display: none!important;

  @include respond(desktop-xxsm) {
    display: inline-block!important;
  }
}

.show-xsm-inline-block {
  display: none!important;

  @include respond(desktop-xsm) {
    display: inline-block!important;
  }
}

.show-sm-inline-block {
  display: none!important;

  @include respond(desktop-sm) {
    display: inline-block!important;
  }
}

.show-md-inline-block {
  display: none!important;

  @include respond(desktop-md) {
    display: inline-block!important;
  }
}

.show-lg-inline-block {
  display: none!important;

  @include respond(desktop-lg) {
    display: inline-block!important;
  }
}

.show-xl-inline-block {
  display: none!important;

  @include respond(desktop-xl) {
    display: inline-block!important;
  }
}

.show-xxl-inline-block {
  display: none!important;

  @include respond(desktop-xxl) {
    display: inline-block!important;
  }
}

.show-flex {
  display: flex!important;
}

.show-xxsm-flex {
  display: none!important;

  @include respond(desktop-xxsm) {
    display: flex!important;
  }
}

.show-xsm-flex {
  display: none!important;

  @include respond(desktop-xsm) {
    display: flex!important;
  }
}

.show-sm-flex {
  display: none!important;

  @include respond(desktop-sm) {
    display: flex!important;
  }
}

.show-md-flex {
  display: none!important;

  @include respond(desktop-md) {
    display: flex!important;
  }
}

.show-lg-flex {
  display: none!important;

  @include respond(desktop-lg) {
    display: flex!important;
  }
}

.show-xl-flex {
  display: none!important;

  @include respond(desktop-xl) {
    display: flex!important;
  }
}

.show-xxl-flex {
  display: none!important;

  @include respond(desktop-xxl) {
    display: flex!important;
  }
}

.show-inline-flex {
  display: inline-flex!important;
}

.show-xxsm-inline-flex {
  display: none!important;

  @include respond(desktop-xxsm) {
    display: inline-flex!important;
  }
}

.show-xsm-inline-flex {
  display: none!important;

  @include respond(desktop-xsm) {
    display: inline-flex!important;
  }
}

.show-sm-inline-flex {
  display: none!important;

  @include respond(desktop-sm) {
    display: inline-flex!important;
  }
}

.show-md-inline-flex {
  display: none!important;

  @include respond(desktop-md) {
    display: inline-flex!important;
  }
}

.show-lg-inline-flex {
  display: none!important;

  @include respond(desktop-lg) {
    display: inline-flex!important;
  }
}

.show-xl-inline-flex {
  display: none!important;

  @include respond(desktop-xl) {
    display: inline-flex!important;
  }
}

.show-xxl-inline-flex {
  display: none!important;

  @include respond(desktop-xxl) {
    display: inline-flex!important;
  }
}

.hide {
  display: none!important;
}

.hide-xxsm {
  @include respond(desktop-xxsm) {
    display: none!important;
  }
}

.hide-xsm {
  @include respond(desktop-xsm) {
    display: none!important;
  }
}

.hide-sm {
  @include respond(desktop-sm) {
    display: none!important;
  }
}

.hide-md {
  @include respond(desktop-md) {
    display: none!important;
  }
}

.hide-lg {
  @include respond(desktop-lg) {
    display: none!important;
  }
}

.hide-xl {
  @include respond(desktop-xl) {
    display: none!important;
  }
}

.hide-xxl {
  @include respond(desktop-xxl) {
    display: none!important;
  }
}


//font-family: 'Inter', sans-serif;